<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Access Token</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5">
  <div class="card mt-3">
    <div class="card-header">
      <h5>Authorization/Connectivity:</h5>
    </div>
    <div class="card-body">
      <a href="/init-verizon-client" class="btn btn-primary">Init Verizon Client</a>
      <a href="/generate-access-token" class="btn btn-primary">Generate Access Token</a>
      <a href="/session-token" class="btn btn-primary">Start Session</a>
      <a href="/end-session" class="btn btn-primary">End Session</a>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h5>Device Management:</h5>
    </div>
    <div class="card-body">
      <a href="/activate-device" class="btn btn-primary">Activate Device</a>
      <a href="/get-service-plans" class="btn btn-primary">Get Service Plans</a>
      <a href="/get-device-info" class="btn btn-primary">Get Device Info</a>
      <a href="/update-device-custom-field" class="btn btn-primary">Update Device Custom Field</a>
      <a href="/deactivate-device" class="btn btn-primary">Deactivate Device</a>

    </div>


  <div class="card mt-3">
    <div class="card-header">
      <h5>Action: {{ data.action }}</h5>
    </div>
    <div class="card-body">
      {% if data.items() != null %}
        {% for key, value in data.items() %}
          {% if key != 'action' %}
            <p><strong>{{ key.replace('_', ' ').title() }}:</strong> {{ value }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

</body>
</html>
