<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Access Token</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5">
  <div class="card mt-3">
    <div class="card-header">
      <h5>Authorization/Connectivity:</h5>
    </div>
    <div class="card-body">
      <a href="/init-verizon-client" class="btn btn-primary">Init Verizon Client</a>
      <a href="/generate-access-token" class="btn btn-primary">Generate Access Token</a>
      <a href="/session-token" class="btn btn-primary">Start Session</a>
      <a href="/end-session" class="btn btn-primary">End Session</a>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h5>Device Management:</h5>
    </div>
    <div class="card-body">
      <p>
      <a href="/activate-device" class="btn btn-primary">Activate Device</a>
      <a href="/get-service-plans" class="btn btn-primary">Get Service Plans</a>
      <a href="/update-device-custom-field" class="btn btn-primary">Update Device Custom Field</a>
      </p>
      <p>
      <a href="/deactivate-device" class="btn btn-primary">Deactivate Device</a>
      <a href="/delete-deactivated-devices" class="btn btn-primary">Delete Deactivated Devices</a>
      <a href="/suspend-device" class="btn btn-primary">Suspend Device</a>
      </p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h5>Device Information:</h5>
    </div>
    <div class="card-body">
      <p>
        <a href="/get-device-list" class="btn btn-primary">Device List</a>
        <a href="/get-device-list?type=mdn" class="btn btn-primary">Device MDN</a>
        <a href="/get-device-list?type=imei" class="btn btn-primary">Device IMEI</a>
        <a href="/get-device-list?type=iccid" class="btn btn-primary">Device ICCID</a>
        <br><br>
        <a href="/list-register-callback" class="btn btn-primary">List Register Callback</a>
        <a href="/register-callback" class="btn btn-primary">Register Callback</a>
        <a href="/deregister-callback" class="btn btn-primary">Deregister Callback</a>
      </p>
    </div>
  </div>  

  <div class="card mt-3">
    <div class="card-header">
      <h5>Not Implemented:</h5>
    </div>
    <div class="card-body">
      <p>
        <a href="/restore-device" class="btn btn-primary">Restore Device</a>   
        <a href="/device-extended-diagnostic" class="btn btn-primary">Device Extended Diagnostic</a>
        <a href="/device-connection-history" class="btn btn-primary">Device Connection History</a>
        
      </p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h5>Action: {{ data.action }}</h5>
    </div>
    <div class="card-body">
      {% if data.items() != null %}
        {% for key, value in data.items() %}
          {% if key != 'action' and key != 'link' %}
            <p><strong>{{ key.replace('_', ' ').title() }}:</strong> {{ value }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if 'link' in data %}
        <a href="{{  data['link'] }}" target="_blank" class="btn btn-primary">Go to Docs</a>
      {% endif %}
    </div>
  </div>
</div>

</body>
</html>
