<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Session Token</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div  class="container text-center mt-5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generate Session Token</h5>
      </div>
      <div class="red">{{ message }}</div>

      <form method="POST" action="/generate-session-token">
        <div class="modal-body">
          <label for="uws_username">UWS Username</label>
          <input type="text" name="uws_username" class="form-control mb-2" placeholder="UWS Username" value="apimatic.uws">
          <label for="uws_password">UWS Password</label>
          <input type="password" name="uws_password" class="form-control" placeholder="UWS Password" value="WeL0v3APIs!">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" onclick="submitSessionToken()">Get Token</button>
        </div>
      </form>   
    </div>
  </div>
</div>

</body>
</html>
